@media (max-width: 1300px)
{
    section
    {
        width: 80vw!important;
    }


    .card
    {
        img  
        {
            width: 80vw!important;
        }
    }


    #contato
    {
        width: 100vw!important;
    }
}