@import "colors";
@import "mediaqueries";


@mixin flexbox ($direction: row, $justify-content: center, $align-items: center)
{   
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}


html, body
{
    @include flexbox;
    margin: 0;
    padding: 0;
    border: none;
    height: 100vh;
    width: 100vw;
    font-family: arial;
    background-color: $preto;
    color: $branco;
    overflow-x: hidden;
}


p
{
    line-height: 1.5em;
}


span
{
    color: $ciano;
}


header
{
    margin-bottom: 100px;
}


main
{
    @include flexbox($direction: column, $justify-content: space-around);
    width: 90vw;
    height: 90vh;
    text-align: center;
}


section
{
    margin: 100px 0px;
    width: 30vw;
}


a 
{
    all: unset; 
    cursor: pointer;
}


#profile-pic
{
    border-radius: 100%;
    border: 6px solid $branco;
}


#sumario
{
    ul
    {
        list-style-type: none; 
        padding: 0;
        text-align: center;
        margin-top: 50px;
    }


    li
    {
        margin: 20px 0px;
    }

    
    p
    {
        color: $ciano;
    }
}


#sobre-mim
{
    p
    {
        text-align: justify;
        font-size: 105%;
        color: rgb(151, 151, 151);
    }
}


#contato
{
    background-color: $cinza;
    width: 100vw;


    i
    {
        margin: 0 5px 20px 5px;
    }
}


#projetos
{
    width: 30vw;
    p {color: $ciano}
}


.voltar-ao-sumario
{
    @include flexbox;
    background-color: $ciano;
    border-radius: 10px;
    width: 50px;
    height: 75px;
    position: fixed;
    bottom: 35px;
    right: 5vw;


    h2 
    {
        margin: 0;
        font-size: 46px;
    }
}


.card 
{
    margin: 10vh 0px;
    cursor: pointer;

    p 
    {
        text-align: justify;
        color: white!important;
    }

    img 
    {
        width: 30vw;
        border-radius: 15px;
    }
}
